/*inicio general*/
* {
  font-family: "Kdam Thmor Pro", sans-serif, "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightblue;
  height: 1000px;
  width: 1000px;
}

.border {
  border: 1px solid red;
}
/*fin general*/
/*inicio header*/
.header {
  background-color: rgba(101, 197, 149, 0.751);
  height: 175px;
  width: 1000px;
  position: absolute;
  top: 0px;
}

.headerH1 {
  font-weight: bold;
  height: 175px;
  width: 200px;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.headerNavDisplay {
  display: inline-block;
  height: 175px;
  width: 260px;
  position: relative;
  bottom: 175px;
  left: 700px;
  margin: 0px;
}

.headerNavLi {
  width: 300px;
  display: inline;
  list-style-type: none;
  position: relative;
  right: 0px;
  top: 100px;
}

/*fin header*/

/*inicio main*/

.main {
  width: 1000px;
  height: 500px;
  margin: 0px;
  display: inline-block;
  position: relative;
  top: 167px;
}

.mainDiv1 {
  width: 350px;
  height: 250px;
  display: inline-block;
  margin: 0px;
  position: absolute;
}

.mainDiv2 {
  width: 350px;
  height: 250px;
  position: absolute;
  top: 0px;
  right: 300px;
}

.sidebar {
  width: 300px;
  height: 500px;
  position: relative;
  left: 700px;
  bottom: 331px;
}

/*fin main*/

/*inicio de contacto*/

.mainContacto {
  height: 100px;
  width: auto;
  display: inline;
  position: absolute;
  bottom: 74px;
  left: 2px;
}

/*fin de contacto*/
/*inicio de footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* fin de footer*/
